*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Pilowlava-Regular';
    src: url('Pilowlava-Regular.woff') format('woff'), url('Pilowlava-Regular.otf') format('truetype');
    font-weight: normal;
}

.backsvg {
    aspect-ratio: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.layer1 {
    background-image: url('curves-1.svg');
}

.layer2 {
    background-image: url('curves-2.svg');
}

body {
    font-family: 'Poppins', sans-serif,-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue";
    color: white;
    background-color: black;
    text-rendering: geometricPrecision;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: subpixel-antialiased;
}

header {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    background-color: rgba(0,0,0,.2);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);
    -moz-backdrop-filter: blur(18px);
    z-index: 4;
}

header div {
    width: 50%;
}

.yb {
    margin-left: 20px;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}

nav > ul {
    margin-right: 45px;
}

nav > ul > li {
    display: inline;
    margin-left: 50px;
}

nav > ul > li > a {
    color: white;
    text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
    height: 50px;
}

.menu {
    width: 25px;
    position: absolute;
    left: 12.5px;
    display: none;
}

.space {
    width: 100%;
    height: 50px;
}

.contenedor-video {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
    text-align: center;
    align-items: center;
}

.vid {
    position: absolute;
    width: 100%;
    height: calc(100vh - 50px);
    margin: auto;
}

video {
    width: 100%;
    height: calc(100vh - 50px);
    margin: auto;
    object-fit: cover;
    filter:  saturate(50%) brightness(0.7);
}

.contenedor-overlay {
    width: 100%;
    height: calc(100vh - 50px);
    position: absolute;
    background: #180F1C;
    opacity: 0.1;
}

.contenedor-titulo {
    color: white;
    z-index: 1;
    text-align: center;
    align-items: center;
    margin: auto;
}

.contenedor-titulo h2{
    font-size: 120px;
    font-family: 'Pilowlava-Regular', serif;
}

.contenedor-titulo p {
    font-size: 25px;
}

.contenedor-bio {
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    order: 0;
}

.contenedor-bio > div {
    width: 50%;
}

.contenedor-imagen {
    align-items: center;
    justify-content: center;
    display: flex;
    order: 1;
}

.contenedor-imagen img {
    width: 50%;
    border-radius: 16px;
}

.contenedor-texto {
    align-items: center;
    justify-content: center;
    display: flex;
    order: 2;
}

.tarjeta {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    width: 80%;
    color: #fff;
    align-items: center;
    justify-content: center;
    
}

.tarjeta p {
    width: 85%;
    text-align: justify;
    margin: auto;
    padding-bottom: 40px;
}

.contenedor-texto h3 {
    margin: auto;
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    padding-bottom: 20px;
    font-weight: bold;
}

.contenedor-media {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.muestra {
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contenedor-ifr{
    padding-bottom: 50px;
    position: relative;
    -moz-border-radius: 15px;
    border-radius: 15px;
    overflow:hidden;
    margin: auto;
    width: 50%;
}

.muestra .contenedor-ifr:last-child {
    padding-bottom: 0px;
}

iframe {
    border-radius:15px;
    overflow:hidden;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.07);
    margin: auto;
    width: calc(100% - 2px);
}

.contenedor-media h3 {
    margin: auto;
    text-align: center;
    font-size: 35px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
}

.contenedor-precios {
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.contenedor-precios .titulo {
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
}

.titulo h3 {
    margin: auto;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.contenedor-cartas {
    display: flex;
    align-items: center;
    height: auto;
    width: 90%;
    margin: auto;
    height: auto;
    padding: 0 0 50px;
}

.carta {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 25%;
    height: 450px;
    color: #fff;
    -webkit-box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.4); 
    box-shadow: 0px 0px 16px 3px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
}

.carta p {
    width: 85%;
    text-align: center;
    margin: auto;
    padding-bottom: 10px;
    font-size: 16px;
    height: 100%;
}

.carta h3 {
    margin: auto;
    text-align: center;
    font-size: 23px;
    padding-bottom: 25px;
}

.carta img {
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 25px;
    filter: invert(1);
}

footer {
    height: 250px;
    width: 100%;
    background-color: #180F1C;
}

.contenido-footer {
    display: flex;
}
    
.footer-uno {
    margin-left: 200px;
}

.footer-uno ul li h3 ,
.footer-dos ul li h3 {
    border-bottom: 3px solid #5B3E69;
}

.footer-dos {
    margin-left: 100px;
}

.contenido-footer ul {
    margin: auto;
    padding: 0;
    width: 250px;
    list-style-type: none;
    display: block;
    height: 200px;
}

.contenido-footer li {
    color: #5B3E69;
    width: 100%;
    align-items: center;
    height: 40px;
    display: flex;
    margin: auto;
    justify-content: flex-start;
}


.contenido-footer a {
    display: block;
    color: #5B3E69;
    text-decoration: none;
}

.contenido-footer h3 {
    height: 40px;
    display: flex;
    align-items: center;
}

.creditos {
    height: 50px;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    color: #5B3E69;
}

.creditos p {
    margin: auto;
}

::-moz-selection {
    background: #1f1f1f
}

::selection {
    background: #1f1f1f
}